<link rel="stylesheet" href="../../../assets/style.css">
<div class="main-footer">
    <div class="footer-inner-content" id="footer">
        <div class="footer-box-content">

            <h1>Dummy Heading</h1>

            <div class="links">
                <a href="">Heading</a>
                <a href="">Heading</a>
                <a href="">Heading</a>
                <a href="">Heading</a>
                <a href="">Heading</a>
            </div>

        </div>

        <div class="footer-box-content">

            <h1>Dummy Heading</h1>
            
            <div class="links">
                <a href="">Heading</a>
                <a href="">Heading</a>
                <a href="">Heading</a>
                <a href="">Heading</a>
                <a href="">Heading</a>
            </div>

        </div>

        <div class="footer-box-content">

            <h1>Dummy Heading</h1>
            
            <div class="links">
                <a href="">Heading</a>
                <a href="">Heading</a>
                <a href="">Heading</a>
                <a href="">Heading</a>
                <a href="">Heading</a>
            </div>

        </div>
    </div>
</div>

