<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/style.css">
</head>
<body>
    
<div id="home" class="main-home">
    <div class="inner-home">
        <div class="main-inner-home left">
            <div class="left-content">
                <h3></h3>
                <h1>Phạm Thanh Bảo Ngọc</h1>
                <p>22/10/2023</p>
                
                <div class="btn"> <span>Your Appointment</span></div>
            </div>
        </div>
        <div class="main-inner-home right">
            <div class="right-img">
                <img src="../../../assets/images/people1.png" alt="">
            </div>
        </div>
    </div>

</div>

<div class="home-icons-below">
    <div class="main-home-icons">
        <div class="home-icon-box">
            <img src="../../../assets/images/icon1.jpeg" alt="">

            <div class="home-content-box">
                <h2>Our Surgery</h2>
                <p>Our Delmont Hospital Utilizes State Of The Art Technology And Employs A Team Of True Experts.</p>

            </div>
        </div>

        <div class="home-icon-box">
            <img src="../../../assets/images/icon1.jpeg" alt="">

            <div class="home-content-box">
                <h2>Our Surgery</h2>
                <p>Our Delmont Hospital Utilizes State Of The Art Technology And Employs A Team Of True Experts.</p>
                
            </div>
        </div>

        <div class="home-icon-box">
            <img src="../../../assets/images/icon1.jpeg" alt="">

            <div class="home-content-box">
                <h2>Our Surgery</h2>
                <p>Our Delmont Hospital Utilizes State Of The Art Technology And Employs A Team Of True Experts.</p>
                
            </div>
        </div>

        <!-- <div class="home-icon-box">
            <img src="../../../assets/images/icon1.jpeg" alt="">

            <div class="home-content-box">
                <h2>Our Surgery</h2>
                <p>Our Delmont Hospital Utilizes State Of The Art Technology And Employs A Team Of True Experts.</p>
                
            </div>
        </div> -->
    </div>
</div>

<!-- home section ended -->

<!-- About us section -->

<div class="main-about" id="about">
    <div class="overflowimg">
        <img src="../../../assets/images/bg icon1.png" alt="">
    </div>
    <div class="about-heading">
        <h1>About <span>us</span></h1>
    </div>
    <div class="about-main-div">
        
        <div class="main-inner-about">
            <div class="about-img">
                <img src="../../../assets/images/img-dentist-2.png" alt="">
            </div>
        </div>
        <div class="main-inner-about">
            <div class="about-right-content">
                <h2>our Vision</h2>
                <h1>A perfect Smile</h1>
                <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>

            </div>

            <div class="btn">Read More</div>
        </div>

    </div>
    

</div>

<!-- About us section-->


<!-- Our doctor section -->

<div class="main-our-doctors">
    <div class="doctor-heading">
        <h1>Our <span>Doctors</span></h1>
    </div>

    <div class="doctor-inner-main-div">

        <div class="doctor-innerbox" id="ourdoctors">

            <div class="doctor-icons">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
                <i class="fa-solid fa-eye"></i>
            </div>

            <div class="teamimg">
                <img src="../../../assets/images/team1.jpg" alt="">
            </div>

            <div class="doc-innernames">
                <h2>Mr Robert Gray</h2>
            </div>
            
        </div>

        <div class="doctor-innerbox">

            <div class="doctor-icons">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
                <i class="fa-solid fa-eye"></i>
            </div>

            <div class="teamimg">
                <img src="../../../assets/images/team2.jpg" alt="">
            </div>

            <div class="doc-innernames">
                <h2>Mr Robert Gray</h2>
            </div>
            
        </div>

        <div class="doctor-innerbox">

            <div class="doctor-icons">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
                <i class="fa-solid fa-eye"></i>
            </div>

            <div class="teamimg">
                <img src="../../../assets/images/team3.jpg" alt="">
            </div>

            <div class="doc-innernames">
                <h2>Mr Robert Gray</h2>
            </div>
            
        </div>

        <div class="doctor-innerbox">

            <div class="doctor-icons">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
                <i class="fa-solid fa-eye"></i>
            </div>

            <div class="teamimg">
                <img src="../../../assets/images/team4.jpg" alt="">
            </div>

            <div class="doc-innernames">
                <h2>Mr Robert Gray</h2>
            </div>
            
        </div>

        <div class="doctor-innerbox">

            <div class="doctor-icons">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
                <i class="fa-solid fa-eye"></i>
            </div>

            <div class="teamimg">
                <img src="../../../assets/images/team5.jpg" alt="">
            </div>

            <div class="doc-innernames">
                <h2>Mr Robert Gray</h2>
            </div>
            
        </div>

        <div class="doctor-innerbox">

            <div class="doctor-icons">
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-share"></i>
                <i class="fa-solid fa-eye"></i>
            </div>

            <div class="teamimg">
                <img src="../../../assets/images/team6.jpg" alt="">
            </div>

            <div class="doc-innernames">
                <h2>Mr Robert Gray</h2>
            </div>
            
        </div>
    </div>

</div>

<!-- Our doctor section end-->

<!-- Our services -->

    <div class="mian-services" id="ourservices">
        <div class="services-heading">
            <h1>Our <span>Services</span></h1>
        </div>

        <div class="main-inner-services">

            <div class="service-box">
                <div class="service-box-icon">
                    <i class="fa-solid fa-hospital"></i>
                </div>
                <h2>Our Services</h2>
                <div class="service-content">
                    <p>We Offer Extensive Medical Procedures To Outbound & Inbound Patients What It Is And We Are Very Proud Achievement Staff.</p>
                </div>
            </div>

            <div class="service-box">
                <div class="service-box-icon">
                    <i class="fa-solid fa-hospital"></i>
                </div>
                <h2>Our Services</h2>
                <div class="service-content">
                    <p>We Offer Extensive Medical Procedures To Outbound & Inbound Patients What It Is And We Are Very Proud Achievement Staff.</p>
                </div>
            </div>

            <div class="service-box">
                <div class="service-box-icon">
                    <i class="fa-solid fa-hospital"></i>
                </div>
                <h2>Our Services</h2>
                <div class="service-content">
                    <p>We Offer Extensive Medical Procedures To Outbound & Inbound Patients What It Is And We Are Very Proud Achievement Staff.</p>
                </div>
            </div>

            <div class="service-box">
                <div class="service-box-icon">
                    <i class="fa-solid fa-hospital"></i>
                </div>
                <h2>Our Services</h2>
                <div class="service-content">
                    <p>We Offer Extensive Medical Procedures To Outbound & Inbound Patients What It Is And We Are Very Proud Achievement Staff.</p>
                </div>
            </div>

            <div class="service-box">
                <div class="service-box-icon">
                    <i class="fa-solid fa-hospital"></i>
                </div>
                <h2>Our Services</h2>
                <div class="service-content">
                    <p>We Offer Extensive Medical Procedures To Outbound & Inbound Patients What It Is And We Are Very Proud Achievement Staff.</p>
                </div>
            </div>

            <div class="service-box">
                <div class="service-box-icon">
                    <i class="fa-solid fa-hospital"></i>
                </div>
                <h2>Our Services</h2>
                <div class="service-content">
                    <p>We Offer Extensive Medical Procedures To Outbound & Inbound Patients What It Is And We Are Very Proud Achievement Staff.</p>
                </div>
            </div>

        </div>
        <div class="serviceoverflow">
            <img src="../../../assets/images/bg icon2.png" alt="">
        </div>
    </div>

<!-- Our services ends -->

<!-- our gallery -->

<div class="main-gallery-section" id="gallery">
    
    <div class="gallery-heading">
        <h1>Our <span>Gallery</span></h1>
    </div>

    <div class="main-inner-gallery">

        <div class="inner-gallery">
            <img src="../../../assets/images/galler1.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="../../../assets/images/galler2.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="../../../assets/images/galler3.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="../../../assets/images/galler4.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="../../../assets/images/galler5.jpg" alt="">
        </div>

        <div class="inner-gallery">
            <img src="../../../assets/images/galler6.jpg" alt="">
        </div>

    </div>

</div>
    
<!-- our gallery end -->


<!-- Customer review section  -->

    <div class="main-customer-review">

        <div class="customer-review-heading">
            <h1>Customer <span>Review</span></h1>
        </div>

        <div class="main-customer-inner">

            <div class="inner-customer-box">

                <div class="innerbox-content">
                    <img src="../../../assets/images/pic1.png" alt="">
                    <div class="customer-review">
                        <h2>Customer</h2>
                        <p>Our Delmont Hospital Utilizes State Of The Art Technology And Employs A Team Of True Experts.</p>
                        
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="inner-customer-box">

                <div class="innerbox-content">
                    <img src="../../../assets/images/pic2.png" alt="">
                    <div class="customer-review">
                        <h2>Customer</h2>
                        <p>Our Delmont Hospital Utilizes State Of The Art Technology And Employs A Team Of True Experts.</p>
                        
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="inner-customer-box">

                <div class="innerbox-content">
                    <img src="../../../assets/images/pic3.png" alt="">
                    <div class="customer-review">
                        <h2>Customer</h2>
                        <p>Our Delmont Hospital Utilizes State Of The Art Technology And Employs A Team Of True Experts.</p>
                        
                        <div class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


</body>
</html>